   <header class="bg-gray-100 px-6 py-4">
      <div class="max-w-7xl mx-auto px-4 py-4">
        <div class="flex items-center justify-between">
          <div class="text-xl font-bold">Cataloger</div>
          <button id="menuToggle" class="lg:hidden text-gray-600 focus:outline-none">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
            </svg>
          </button>
           <div class="flex flex-col lg:flex-row space-y-4 lg:space-y-0 lg:space-x-6 mt-4 lg:mt-0 hidden lg:flex">
            <a href="#" class="text-gray-700 font-medium hover:text-blue-600">Catalogues</a>
            <a href="#" class="text-gray-700 font-medium hover:text-blue-600">Product Range</a>
            <a href="#" class="text-gray-700 font-medium hover:text-blue-600">Pricing</a>
            <a href="#" id="loginBtn" class="text-gray-700 font-medium hover:text-blue-600">Log in</a>
            <a href="#" id="signupBtn" class="text-gray-700 font-medium hover:text-blue-600">Sign up</a>
            <a href="#upload" class="bg-blue-600 text-white px-4 py-2 rounded font-semibold w-max">Get Started</a>
          </div>
        </div>

        <!-- Responsive Nav Menu -->
        <nav id="menu" class="lg:hidden overflow-hidden max-h-0 transition-all duration-300 ease-in-out lg:max-h-full lg:flex lg:items-center lg:space-x-6 lg:mt-4">
          <div class="flex flex-col lg:flex-row space-y-4 lg:space-y-0 lg:space-x-6 mt-4 lg:mt-0">
            <a href="#" class="text-gray-700 font-medium hover:text-blue-600">Catalogues</a>
            <a href="#" class="text-gray-700 font-medium hover:text-blue-600">Product Range</a>
            <a href="#" class="text-gray-700 font-medium hover:text-blue-600">Pricing</a>
            <a href="#" id="loginBtn" class="text-gray-700 font-medium hover:text-blue-600">Log in</a>
            <a href="#" id="signupBtn" class="text-gray-700 font-medium hover:text-blue-600">Sign up</a>
            <a href="#upload" class="bg-blue-600 text-white px-4 py-2 rounded font-semibold w-max">Get Started</a>
          </div>
        </nav>
      </div>

    </header>